@mixin tiffviewer {
  .tiff-viewer{
		.input-counter{
			width: 60px;
		}
		.tiff-viewer-counter-box{
			padding-left:10px;
			line-height: 37px;
			font-weight: bolder;
		}
		.tiff-viewer-button-bar{ 
			text-align: center;
			div {
	    		display: inline-block;
    		}
    	}
    	.tiff-viewer-canvas{
    		cursor: move;
    	}
    	.tiff-viewer-navigation{
    		.v-button-previous{
    			border-radius: 5px 0 0 5px;
				border-right: none;
    		}
    		.v-button-next{
    			border-radius: 0px 5px 5px 0px;
    		}
    	}
    	.tiff-viewer-size-box{
    		padding-left: 10px;
    		.v-button-decrease{
    			border-radius: 5px 0 0 5px;
				border-right: none;
    		}
    		.v-button-increase{
    			border-radius: 0px;
    			border-right: none;
    		}
    		select:focus,
    		select{
    			border-radius: 0px 5px 5px 0px;
    			height: 37px;
    			box-shadow: none;
    		}
    	}
	}
}
